body{
    background: linear-gradient(90deg, rgba(89,0,112,1) 20%, rgba(78,0,98,1) 30%, rgba(58,0,73,1) 50%, rgba(78,0,98,1) 70%, rgba(89,0,112,1) 80%);
}

header{
    background: linear-gradient(90deg, rgba(157,0,0,1) 10%, rgba(112,0,0,1) 20%, rgba(98,0,0,1) 30%, rgba(58,0,73,1) 50%, rgba(98,0,0,1) 70%, rgba(112,0,0,1) 80%, rgba(157,0,0,1) 90%);
}

.dis_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head{
    display: flex;
    margin-bottom: 50px;
}

.head > h1,h2{
    font-family: cursive;
}

.recherche{
    display: flex;
    justify-content: center;
}

#search{
    width: 350px;
    height: 30px;
    border-radius: 50px;
}

#srchb{
    height: 30px;
    border-radius: 50px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit{
    border-radius: 50px;
}